{% extends 'auth_base.html' %}

{% block content %}

<div class="container my-4">

    <a href="/" class="btn btn-dark mb-3">← Home</a>

    <!-- TITLE -->
    <div class="text-center mb-4">
        <h2 class="fw-bold">About Us🛒</h2>
        <p class="text-muted small">
            A smarter way to shop online with ease and confidence.
        </p>
    </div>

    <!-- IMAGE + TEXT -->
    <div class="row align-items-center g-4 mb-4">

        <div class="col-12 col-md-6">
            <img src="https://i.pinimg.com/736x/ba/06/37/ba0637debad59b44b9b7b4102729288c.jpg"
                 class="img-fluid rounded shadow w-100">
        </div>

        <div class="col-12 col-md-6">
            <h5 class="fw-bold">Who We Are</h5>
            <p class="small">
                SmartCart is designed to simplify online shopping by combining
                modern design with powerful features. We focus on delivering
                a seamless and enjoyable shopping experience.
            </p>

            <p class="small">
                From daily essentials to trending products, everything is just a click away.
            </p>
        </div>

    </div>

    <!-- FEATURES -->
    <div class="row text-center g-3 mb-4" >

        <div class="col-12 col-md-4">
            <div class="box p-3 shadow-sm rounded" style="background-color: rgb(252, 199, 207);">
                <h6>⚡ Fast Experience</h6>
                <p class="small text-muted">Smooth and responsive interface.</p>
            </div>
        </div>

        <div class="col-12 col-md-4" >
            <div class="box p-3 shadow-sm rounded" style="background-color:rgb(252, 199, 207);">
                <h6>🔒 Secure</h6>
                <p class="small text-muted">Safe payments and data protection.</p>
            </div>
        </div>

        <div class="col-12 col-md-4">
            <div class="box p-3 shadow-sm rounded"style="background-color: rgb(252, 199, 207);">
                <h6>🚚 Delivery</h6>
                <p class="small text-muted">Fast and reliable shipping all over India.</p>
            </div>
        </div>

    </div>

    <!-- MISSION -->
    <div class="bg-light p-3 p-md-4 rounded text-center shadow-sm">
        <h5 class="fw-bold">Our Mission</h5>
        <p class="small text-muted">
            To create a simple, fast, and trustworthy online shopping experience for everyone.
        </p>
    </div>

</div>

{% endblock %}