{% extends 'auth_base.html' %}

{% block content %}
<div class="login-card">

    <h4 class="text-center mb-3">Reset Password</h4>

    {% for msg in get_flashed_messages() %}
        <p class="text-danger text-center">{{ msg }}</p>
    {% endfor %}

    <form method="POST">

        <input type="password" name="password"
               class="form-control mb-3"
               placeholder="New Password" required>

        <input type="password" name="confirm_password"
               class="form-control mb-3"
               placeholder="Confirm Password" required>

        <button class="btn btn-dark w-100">Reset Password</button>

    </form>
    <div class="text-center mt-3">
        <a href="/user-login">Back to login</a>
    </div>

</div>
{% endblock %}