{% extends 'auth_base.html' %}

{% block content %}
<div class="login-card">

    <h4 class="text-center mb-3">Forgot Password</h4>

    {% for msg in get_flashed_messages() %}
        <p class="text-danger text-center">{{ msg }}</p>
    {% endfor %}

    <form method="POST">

        <input type="email" name="email" class="form-control mb-3" placeholder="Enter email" required>

        <button class="btn btn-dark w-100">Send OTP</button>

    </form>

    <div class="text-center mt-3">
        <a href="/user-login">Back to login</a>
    </div>

</div>
{% endblock %}